@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Varela+Round&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    width: 1140px;  /* 헤더 배경 가로 크기를 제한하는 것이 아닌 헤더의 내용이 차지하는 가로 크기 제한 */
    margin: 0 auto;
}

header {
    position: fixed;
    color: white;
    top: 0;
    z-index: 1;
    width: 100%;
    padding: 1.25rem;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header nav ul {
    display: flex;
}

header nav ul li {
    padding: 0.8rem;
}

header button {
    background: transparent;
    border: 0;
    cursor: pointer;
}

header h1 button{
    font-size: 2.25rem;
    font-weight: bold;
    color: white;
}
header nav ul li button {
    font-size: 1.2rem;
    color: white;
}

main {
    width: 100%;
    height: 100vh;
    color: white;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main h4 {
    font-size: 2rem;
}
main h2 {
    font-size: 3.5rem;
    margin: 2rem 0;
    letter-spacing: 2px;
    font-family: "Varela Round", sans-serif;
}
main p {
    max-width: 500px;
    margin: 0 auto;
    font-size: 1.25rem;
}

main button.download {
    background-color: transparent;
    border: 3px solid white;
    border-radius: 25px;
    padding:1rem 2rem;
    margin-top: 3rem;
    color: white;
    cursor: pointer;
}
main button.mouse {
    background-color: transparent;
    border:none;
    color: white;
    font-size: 2rem;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    animation: upDown 1s ease-in-out infinite;
    cursor: pointer;
}
@keyframes upDown {
    0% {
        bottom:1rem;
    }    
    50% {
        bottom: 1.5rem;
    }
    100% {
        bottom: 1rem;
    }
}

main h2 span::after {
    content:"";
    height: 45px;
    width: 2px;
    background-color: #fff;
    display: inline-block;
    animation:blink .7s ease-in-out infinite;
}
@keyframes blink {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* About Me 섹션 */
section {
    font-family: "Poppins", sans-serif;
    padding: 4rem 0;
}

section:nth-child(2n){
    background-color: #f8f8f8;
}

section .title {
    margin-bottom: 2.5rem;
}

section .title h4 {
    font-size: 1.4rem;
    color: #ed4848;
    position: relative;
}

section .title h2{ 
    font-size: 3.5rem;
}

/* float 속성 해제 */
section .about-self::after {
    content: "";
    clear: both;
    display: block;
}

section .about-self .left{
    width: 50%;
    float: left;
}

/* 이미지 크기가 부모 영역을 넘지 않도록 부모 영역의 최대 크기로 지정 */
section .about-self .left img{
    max-width: 100%;
}

section .about-self .right {
    width: 50%;
    float: left;
    padding: 0 2rem;
}

section .about-self .right h3{
    font-size: 2.25rem;
    margin-top: -8px;
    margin-bottom: 1rem;
}
section .about-self .right h3 strong{
    color: #ed4848;
}
section .about-self .right p{
    font-size: 1.1rem;
    margin: 1rem 0;
}
section .about-self .right .social a{
    font-size: 2rem;
}

section .do{
    display: flex;
}

section .do .do-inner{
    background-color: #fff;
    width: 30%;
    padding: 2rem;
    margin-right: 5%;
    cursor: pointer;
}

/* 마지막 박스의 외부 여백 설정 */
section .do .do-inner:last-child{
    margin-right: 0;
}

section .do .do-inner .icon i{
    font-size: 2.5rem;
    color: #ff6a6a;
    margin-left: -8px
}

section .do .do-inner .content h3{
    font-size: 2rem;
    margin: 1rem 0;
}

section .do .do-inner .content p{
    font-size: 1.15rem;
    margin-bottom: 0.8rem;
}

/* 마우스를 올리면 배경색과 텍스트 색상 변경 */
section .do .do-inner:hover{
    background-color: lightcoral;
    color: white;
}

/* 마우스를 올리면 아이콘 폰트 색상 변경 */
section .do .do-inner:hover i{
    color: white;
}