@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Varela+Round&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    width: 1140px;  /* 헤더 배경 가로 크기를 제한하는 것이 아닌 헤더의 내용이 차지하는 가로 크기 제한 */
    margin: 0 auto;
}

header {
    position: fixed;
    color: white;
    top: 0;
    z-index: 1;
    width: 100%;
    padding: 1.25rem;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header nav ul {
    display: flex;
}

header nav ul li {
    padding: 0.8rem;
}

header button {
    background: transparent;
    border: 0;
    cursor: pointer;
}

header h1 button{
    font-size: 2.25rem;
    font-weight: bold;
    color: white;
}
header nav ul li button {
    font-size: 1.2rem;
    color: white;
}

header.active{
    background-color: rgba(0,0,0);
    animation: fadeIn 0.5s ease-out;
}
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
main {
    width: 100%;
    height: 100vh;
    color: white;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main h4 {
    font-size: 2rem;
}
main h2 {
    font-size: 3.5rem;
    margin: 2rem 0;
    letter-spacing: 2px;
    font-family: "Varela Round", sans-serif;
}
main p {
    max-width: 500px;
    margin: 0 auto;
    font-size: 1.25rem;
}

main button.download {
    background-color: transparent;
    border: 3px solid white;
    border-radius: 25px;
    padding:1rem 2rem;
    margin-top: 3rem;
    color: white;
    cursor: pointer;
}
main button.mouse {
    background-color: transparent;
    border:none;
    color: white;
    font-size: 2rem;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    animation: upDown 1s ease-in-out infinite;
    cursor: pointer;
}
@keyframes upDown {
    0% {
        bottom:1rem;
    }    
    50% {
        bottom: 1.5rem;
    }
    100% {
        bottom: 1rem;
    }
}

main h2 span::after {
    content:"";
    height: 45px;
    width: 2px;
    background-color: #fff;
    display: inline-block;
    animation:blink .7s ease-in-out infinite;
}
@keyframes blink {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* About Me 섹션 */
section {
    font-family: "Poppins", sans-serif;
    padding: 4rem 0;
}

section:nth-child(2n){
    background-color: #f8f8f8;
}

section .title {
    margin-bottom: 2.5rem;
}

section .title h4 {
    font-size: 1.4rem;
    color: #ed4848;
    position: relative;
}

section .title h2{ 
    font-size: 3.5rem;
}

/* float 속성 해제 */
section .about-self::after {
    content: "";
    clear: both;
    display: block;
}

section .about-self .left{
    width: 50%;
    float: left;
}

/* 이미지 크기가 부모 영역을 넘지 않도록 부모 영역의 최대 크기로 지정 */
section .about-self .left img{
    max-width: 100%;
}

section .about-self .right {
    width: 50%;
    float: left;
    padding: 0 2rem;
}

section .about-self .right h3{
    font-size: 2.25rem;
    margin-top: -8px;
    margin-bottom: 1rem;
}
section .about-self .right h3 strong{
    color: #ed4848;
}
section .about-self .right p{
    font-size: 1.1rem;
    margin: 1rem 0;
}
section .about-self .right .social a{
    font-size: 2rem;
}

section .do{
    display: flex;
}

section .do .do-inner{
    background-color: #fff;
    width: 30%;
    padding: 2rem;
    margin-right: 5%;
    cursor: pointer;
}

/* 마지막 박스의 외부 여백 설정 */
section .do .do-inner:last-child{
    margin-right: 0;
}

section .do .do-inner .icon i{
    font-size: 2.5rem;
    color: #ff6a6a;
    margin-left: -8px
}

section .do .do-inner .content h3{
    font-size: 2rem;
    margin: 1rem 0;
}

section .do .do-inner .content p{
    font-size: 1.15rem;
    margin-bottom: 0.8rem;
}

/* 마우스를 올리면 배경색과 텍스트 색상 변경 */
section .do .do-inner:hover{
    background-color: lightcoral;
    color: white;
}

/* 마우스를 올리면 아이콘 폰트 색상 변경 */
section .do .do-inner:hover i{
    color: white;
}


/* portfolio 섹션 */
section .portfolio-box{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem 3rem;
}

section .portfolio-box .portfolio-inner{
    width: 100%;
    padding:1rem 1rem 1.5rem 1rem;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
}

section .portfolio-box .portfolio-inner img{
    width: 100%;
    height: 200px;
    display: block;
}

section .portfolio-box .portfolio-inner strong{
    color: #ff6a6a;
    margin: 0.5rem 0;
    display: block;
}

section .portfolio-box .portfolio-inner h3{
    font-size: 1.75rem;
}

/* Contact 섹션 */
section .contact-box{
    display: flex;
}

section .contact-box .left{
    width: 30%;
}

section .contact-box .right{
    width: 65%;
    margin-left: 5%;
    margin-bottom: 2rem;
    border: 1px solid #ccc;
    padding: 1rem;
}

section .contact-box .left .card{
    border: 1px solid #ccc;
    padding: 1rem;
    display: flex;
    align-items: center;
    margin-bottom: 1.25rem;
}

section .contact-box .left .card .icon i{
    font-size: 2rem;
    margin-right: 15px;
}

section .contact-box .right .form-group{
    margin-bottom: 1.25rem;
}

section .contact-box .right .form-group label{
    display: block;
    margin-bottom: 0.85rem;
}

section .contact-box .right .form-group input{
    padding: 0.625rem;
    width: 100%;
    outline: none;
    border: 1px solid #ccc;
}

section .contact-box .right .form-group input:focus{
    border: 1px solid #719ECE;
    box-shadow: 0 0 5px #719ECE;
}

section .contact-box .right .form-group textarea{
    height: 300px;
    width: 100%;
    resize: none;
    border: 1px solid #ccc;
    
}

section .contact-box .right .form-group textarea:focus{
    border: 1px solid #719ECE;
    box-shadow: 0 0 5px #719ECE;
    outline: none;  
}

section .contact-box .right button{
    font-size: 1rem;
    width: 100%;
    padding: 1rem;
    background-color: #f78b00;
    border: none;
    color: white
}


/* container width가 1140px이므로 기준해상도를 1140px부터 시작한다 */
/* 화면 너비가 1140px 이하일 때 */
@media screen and (max-width:1140px) {
    html{font-size: 15px;}

    main .container{
        width: 992px;
    }
    /* 2단으로 처리하기 위한 적정너비 */
    section .container{
        width: 600px;
    }
    /* about me 왼쪽, 오른쪽 영역 너비 50% -> 100%로 변경 */
    section .about-self .left{
        width: 100%;
        margin-bottom: 1.5rem;
    }
    section .about-self .right{
        width: 100%;
        padding: 0;
    }
    section .portfolio-box{
        grid-template-columns: repeat(2,1fr);
    }
    section .contact-box{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    section .contact-box .left{
        width: 100%;
    }
    section .contact-box .right {
        width: 100%;
        margin-left: 0;
    }

}
/* 화면 너비가 992px 이하일 때 */
@media screen and (max-width:992px) {
    /* font-size 속성값이 14px가 되므로 1rem = 14px가 됨 */
    html{font-size: 14px;}
    main .container{
        width: 768px;
    }
}
/* 화면 너비가 768px 이하일 때 */
@media screen and (max-width:768px) {
    html{font-size: 13px;}    
    main .container {
        width: 576px;
    }
    section .container{
        width: 400px;
    }
    section .do {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    section .do .do-inner{
        width: 100%;
        margin-bottom: 2rem;
        margin-right: 0;
    }
    section .portfolio-box {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem 3rem;
    }
}
/* 화면 너비가 576px 이하일 때 */
@media screen and (max-width:576px) {
    html{font-size: 12px;}
    main .container {
        width: 400px;
    }
    section .container{
        width: 360px;
    }
}
/* 화면 너비가 400px 이하일 때 */
@media screen and (max-width:400px) {
    html{font-size: 11px;}
    main .container {
        width: 320px;
    }
    section .container{
        width: 320px;
    }
    main h4{
        font-size: 1.5rem;
    }
    section .title h2{
        font-size: 3rem;   
    }
}
