*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    width: 1140px;  /* 헤더 배경 가로 크기를 제한하는 것이 아닌 헤더의 내용이 차지하는 가로 크기 제한 */
    margin: 0 auto;
}

header {
    position: absolute;
    color: black;
    top: 0;
    z-index: 1;
    width: 100%;
    padding: 1.5rem;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header nav ul {
    display: flex;
}

header nav ul li {
    padding: 0.8rem;
}

header button {
    background: transparent;
    border: 0;
    cursor: pointer;
}

header h1 button{
    font-size: 2rem;
    font-weight: bold;
}
header nav ul li button {
    font-size: 1.2rem;
}